<option value="EUR">Euro Member Countries</option>
<option value="IDR">Indonesia Rupiah</option>
<option value="BGN">Bulgaria Lev</option>
<option value="ILS">Israel Shekel</option>
<option value="GBP">United Kingdom Pound</option>
<option value="DKK">Denmark Krone</option>
<option value="CAD">Canada Dollar</option>
<option value="JPY">Japan Yen</option>
<option value="HUF">Hungary Forint</option>
<option value="RON">Romania New Leu</option>
<option value="MYR">Malaysia Ringgit</option>
<option value="SEK">Sweden Krona</option>
<option value="SGD">Singapore Dollar</option>
<option value="HKD">Hong Kong Dollar</option>
<option value="AUD">Australia Dollar</option>
<option value="CHF">Switzerland Franc</option>
<option value="KRW">Korea (South) Won</option>
<option value="CNY">China Yuan Renminbi</option>
<option value="TRY">Turkey Lira</option>
<option value="HRK">Croatia Kuna</option>
<option value="NZD">New Zealand Dollar</option>
<option value="THB">Thailand Baht</option>
<option value="USD">United States Dollar</option>
<option value="NOK">Norway Krone</option>
<option value="RUB">Russia Ruble</option>
<option value="INR">India Rupee</option>
<option value="MXN">Mexico Peso</option>
<option value="CZK">Czech Republic Koruna</option>
<option value="BRL">Brazil Real</option>
<option value="PLN">Poland Zloty</option>
<option value="PHP">Philippines Peso</option>
<option value="ZAR">South Africa Rand</option>
